### Census API Requests
#### Authored By Clementine Sraha,  e-mail: clemiyarjah@gmail.com

In [ ]:
#! pip install census

In [ ]:
#!pip install us

In [1]:
#Import Dependencies
import numpy as np
import pandas as pd
import json
import requests
from census import Census
from us import states

In [2]:
#Census API key
from config import census_api

d=Census(census_api,year=2011)
e=Census(census_api,year=2012)
f=Census(census_api,year=2013)
g=Census(census_api,year=2014)
h=Census(census_api,year=2015)
i=Census(census_api,year=2016)
j=Census(census_api,year=2017)
k=Census(census_api,year=2018)

In [3]:
#census_data_2011 = d.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
#                          "B19301_001E",
#                          "B17001_002E", "B23025_005E", "B03001_003E","B02001_003E",
#                          "B02001_005E","B06009_005E","B06009_006E"), {'for': 'zip code tabulation area:*'})

In [4]:
#census_data_2012 = e.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
#                          "B19301_001E",
#                          "B17001_002E", "B23025_005E", "B03001_003E","B02001_003E",
#                          "B02001_005E","B06009_005E","B06009_006E"), {'for': 'zip code tabulation area:*'})
#census_data_2013 = f.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
#                          "B19301_001E",
#                          "B17001_002E", "B23025_005E", "B03001_003E","B02001_003E",
#                          "B02001_005E","B06009_005E","B06009_006E"), {'for': 'zip code tabulation area:*'})

In [5]:
# All data here onwards works for acs5

In [6]:
census_data_2014 = g.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E", "B23025_005E", "B03001_003E","B02001_003E",
                          "B02001_005E","B06009_005E","B06009_006E"), {'for': 'zip code tabulation area:*'})
census_data_2015 = h.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E", "B23025_005E", "B03001_003E","B02001_003E",
                          "B02001_005E","B06009_005E","B06009_006E"), {'for': 'zip code tabulation area:*'})

In [7]:
census_data_2016 = i.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E", "B23025_005E", "B03001_003E","B02001_003E",
                          "B02001_005E","B06009_005E","B06009_006E"), {'for': 'zip code tabulation area:*'})

census_data_2017 = j.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E", "B23025_005E", "B03001_003E","B02001_003E",
                          "B02001_005E","B06009_005E","B06009_006E"), {'for': 'zip code tabulation area:*'})

In [8]:
census_data_2018 = k.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E", "B23025_005E", "B03001_003E","B02001_003E",
                          "B02001_005E","B06009_005E","B06009_006E"), {'for': 'zip code tabulation area:*'})

## Convert to DataFrame

In [9]:
#census_2010 = pd.DataFrame(census_data_2010)
#census_2011 = pd.DataFrame(census_data_2011)
#census_2012 = pd.DataFrame(census_data_2012)
#census_2013 = pd.DataFrame(census_data_2013)
census_2014 = pd.DataFrame(census_data_2014)
census_2015 = pd.DataFrame(census_data_2015)
census_2016 = pd.DataFrame(census_data_2016)
census_2017 = pd.DataFrame(census_data_2017)
census_2018 = pd.DataFrame(census_data_2018)

In [10]:
#census_2010["Year"]="2010"
#census_2011["Year"]="2011"
#census_2012["Year"]="2012"
#census_2013["Year"]="2013"
census_2014["Year"]="2014"
census_2015["Year"]="2015"
census_2016["Year"]="2016"
census_2017["Year"]="2017"
census_2018["Year"]="2018"

In [11]:
## Append Data Frames

In [12]:
#a1=census_2010.append(census_2011)
#a2=a1.append(census_2012)
#a3=a2.append(census_2013)
#a4=a3.append(census_2014)
a5=census_2014.append(census_2015)
a6=a5.append(census_2016)
a7=a6.append(census_2017)
a8=a7.append(census_2018)

In [13]:
a8

,NAME,B19013_001E,B01003_001E,B01002_001E,B19301_001E,B17001_002E,B23025_005E,B03001_003E,B02001_003E,B02001_005E,B06009_005E,B06009_006E,zip code tabulation area,Year
0,ZCTA5 00601,10833.0,18088.0,37.1,7229.0,10911.0,1992.0,18053.0,175.0,0.0,NaN,NaN,00601,2014
1,ZCTA5 00602,16353.0,40859.0,39.0,9048.0,21724.0,4347.0,38082.0,1097.0,75.0,NaN,NaN,00602,2014
2,ZCTA5 00603,16323.0,53162.0,39.2,9888.0,26027.0,4053.0,51182.0,1913.0,629.0,NaN,NaN,00603,2014
3,ZCTA5 00606,14138.0,6415.0,39.2,6385.0,3778.0,172.0,6408.0,154.0,0.0,NaN,NaN,00606,2014
4,ZCTA5 00610,17265.0,28805.0,39.7,8197.0,14149.0,1291.0,28552.0,1002.0,26.0,NaN,NaN,00610,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33115,ZCTA5 87515,NaN,363.0,44.2,NaN,NaN,NaN,363.0,0.0,0.0,0.0,0.0,87515,2018
33116,ZCTA5 87518,NaN,9.0,-666666666.0,NaN,NaN,NaN,9.0,0.0,0.0,0.0,0.0,87518,2018
33117,ZCTA5 87511,NaN,2896.0,36.0,NaN,NaN,NaN,2532.0,37.0,0.0,112.0,110.0,87511,2018
33118,ZCTA5 87578,NaN,245.0,48.0,NaN,NaN,NaN,202.0,0.0,1.0,25.0,19.0,87578,2018
33119,ZCTA5 87532,NaN,18756.0,39.3,NaN,NaN,NaN,14465.0,120.0,167.0,1587.0,886.0,87532,2018

In [14]:
# Column Reordering
census_df = a8.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "B23025_005E": "Unemployment Count",
                                      "B03001_003E": "Number of Hispanic Residents",
                                      "B02001_003E": "Number of African American Residents",
                                      "B02001_005E": "Number of Asian Residents",
                                      "B06009_005E": "Number of Residents w/Bachelor's Degree",
                                      "B06009_006E": "Number of Residents w/Graduate Degree",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"})

In [15]:
census_df

,Name,Household Income,Population,Median Age,Per Capita Income,Poverty Count,Unemployment Count,Number of Hispanic Residents,Number of African American Residents,Number of Asian Residents,Number of Residents w/Bachelor's Degree,Number of Residents w/Graduate Degree,Zipcode,Year
0,ZCTA5 00601,10833.0,18088.0,37.1,7229.0,10911.0,1992.0,18053.0,175.0,0.0,NaN,NaN,00601,2014
1,ZCTA5 00602,16353.0,40859.0,39.0,9048.0,21724.0,4347.0,38082.0,1097.0,75.0,NaN,NaN,00602,2014
2,ZCTA5 00603,16323.0,53162.0,39.2,9888.0,26027.0,4053.0,51182.0,1913.0,629.0,NaN,NaN,00603,2014
3,ZCTA5 00606,14138.0,6415.0,39.2,6385.0,3778.0,172.0,6408.0,154.0,0.0,NaN,NaN,00606,2014
4,ZCTA5 00610,17265.0,28805.0,39.7,8197.0,14149.0,1291.0,28552.0,1002.0,26.0,NaN,NaN,00610,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33115,ZCTA5 87515,NaN,363.0,44.2,NaN,NaN,NaN,363.0,0.0,0.0,0.0,0.0,87515,2018
33116,ZCTA5 87518,NaN,9.0,-666666666.0,NaN,NaN,NaN,9.0,0.0,0.0,0.0,0.0,87518,2018
33117,ZCTA5 87511,NaN,2896.0,36.0,NaN,NaN,NaN,2532.0,37.0,0.0,112.0,110.0,87511,2018
33118,ZCTA5 87578,NaN,245.0,48.0,NaN,NaN,NaN,202.0,0.0,1.0,25.0,19.0,87578,2018
33119,ZCTA5 87532,NaN,18756.0,39.3,NaN,NaN,NaN,14465.0,120.0,167.0,1587.0,886.0,87532,2018

# DC zipcodes

In [16]:
census_df = census_df.loc[(census_df['Zipcode'] == "20007")|(census_df['Zipcode'] == "20016")|
                         (census_df['Zipcode'] == "20008")| (census_df['Zipcode'] == "20009")| (census_df['Zipcode'] == "20010")
                         |(census_df['Zipcode'] == "20011")| (census_df['Zipcode'] == "20012")| (census_df['Zipcode'] == "20013")
                         |(census_df['Zipcode'] == "20390")| (census_df['Zipcode'] == "20015")| (census_df['Zipcode'] == "20373")
                         | (census_df['Zipcode'] == "20319")| (census_df['Zipcode'] == "20317")| (census_df['Zipcode'] == "20064")
                         | (census_df['Zipcode'] == "20057")| (census_df['Zipcode'] == "20052")| (census_df['Zipcode'] == "20037")
                         | (census_df['Zipcode'] == "20036")| (census_df['Zipcode'] == "20032")| (census_df['Zipcode'] == "20024")
                         | (census_df['Zipcode'] == "20020")| (census_df['Zipcode'] == "20019")| (census_df['Zipcode'] == "20018")
                         | (census_df['Zipcode'] == "20017")| (census_df['Zipcode'] == "20001")| (census_df['Zipcode'] == "20002")
                         | (census_df['Zipcode'] == "20003")| (census_df['Zipcode'] == "20004")| (census_df['Zipcode'] == "20005")
                         | (census_df['Zipcode'] == "20006")| (census_df['Zipcode'] == "20204")| (census_df['Zipcode'] == "20230")
                         | (census_df['Zipcode'] == "20250")| (census_df['Zipcode'] == "20310")| (census_df['Zipcode'] == "20745")]

In [17]:
census_df

,Name,Household Income,Population,Median Age,Per Capita Income,Poverty Count,Unemployment Count,Number of Hispanic Residents,Number of African American Residents,Number of Asian Residents,Number of Residents w/Bachelor's Degree,Number of Residents w/Graduate Degree,Zipcode,Year
5720,ZCTA5 20001,83035.0,41345.0,30.7,44841.0,6493.0,2247.0,4350.0,19689.0,3180.0,8229.0,8428.0,20001,2014
5721,ZCTA5 20002,68924.0,56646.0,34.3,41103.0,10638.0,4271.0,3025.0,31025.0,1618.0,10170.0,10849.0,20002,2014
5722,ZCTA5 20003,110620.0,28202.0,34.8,59837.0,3154.0,1109.0,1247.0,9602.0,667.0,6014.0,8741.0,20003,2014
5723,ZCTA5 20004,132083.0,1667.0,40.3,125536.0,65.0,62.0,83.0,57.0,220.0,453.0,1014.0,20004,2014
5724,ZCTA5 20005,81736.0,12497.0,33.6,73874.0,1603.0,470.0,2334.0,1808.0,924.0,3121.0,4793.0,20005,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6298,ZCTA5 20317,28077.0,406.0,86.0,28115.0,120.0,0.0,5.0,102.0,0.0,88.0,78.0,20317,2018
6299,ZCTA5 20319,-666666666.0,42.0,21.7,19436.0,0.0,0.0,3.0,6.0,13.0,13.0,0.0,20319,2018
6300,ZCTA5 20373,-666666666.0,144.0,21.9,23941.0,0.0,0.0,43.0,10.0,0.0,5.0,0.0,20373,2018
6301,ZCTA5 20390,-666666666.0,359.0,21.2,21819.0,0.0,0.0,62.0,40.0,0.0,13.0,0.0,20390,2018
6400,ZCTA5 20745,59100.0,28472.0,35.3,29765.0,3950.0,1526.0,5418.0,20402.0,1046.0,1967.0,1561.0,20745,2018

### Google Geocode API

In [18]:
from config import geocode_key

#### State Data

In [21]:
zip_series=census_df['Zipcode']
zip_list=zip_series.tolist()
zip_list

['20001',
 '20002',
 '20003',
 '20004',
 '20005',
 '20006',
 '20007',
 '20008',
 '20009',
 '20010',
 '20011',
 '20012',
 '20015',
 '20016',
 '20017',
 '20018',
 '20019',
 '20020',
 '20024',
 '20032',
 '20036',
 '20037',
 '20052',
 '20057',
 '20064',
 '20204',
 '20230',
 '20317',
 '20319',
 '20373',
 '20390',
 '20745',
 '20001',
 '20002',
 '20003',
 '20004',
 '20005',
 '20006',
 '20007',
 '20008',
 '20009',
 '20010',
 '20011',
 '20012',
 '20015',
 '20016',
 '20017',
 '20018',
 '20019',
 '20020',
 '20024',
 '20032',
 '20036',
 '20037',
 '20052',
 '20057',
 '20064',
 '20204',
 '20230',
 '20317',
 '20319',
 '20373',
 '20390',
 '20745',
 '20204',
 '20230',
 '20317',
 '20319',
 '20373',
 '20390',
 '20745',
 '20001',
 '20002',
 '20003',
 '20004',
 '20005',
 '20006',
 '20007',
 '20008',
 '20009',
 '20010',
 '20011',
 '20012',
 '20015',
 '20016',
 '20017',
 '20018',
 '20019',
 '20020',
 '20024',
 '20032',
 '20036',
 '20037',
 '20052',
 '20057',
 '20064',
 '20001',
 '20002',
 '20003',
 '20004',
 '20005',
 '20006',
 '20007',
 '20008',
 '20009',
 '20010',
 '20011',
 '20012',
 '20015',
 '20016',
 '20017',
 '20018',
 '20019',
 '20020',
 '20024',
 '20032',
 '20036',
 '20037',
 '20052',
 '20057',
 '20064',
 '20204',
 '20230',
 '20317',
 '20319',
 '20373',
 '20390',
 '20745',
 '20001',
 '20002',
 '20003',
 '20004',
 '20005',
 '20006',
 '20007',
 '20008',
 '20009',
 '20010',
 '20011',
 '20012',
 '20015',
 '20016',
 '20017',
 '20018',
 '20019',
 '20020',
 '20024',
 '20032',
 '20036',
 '20037',
 '20052',
 '20057',
 '20064',
 '20204',
 '20230',
 '20317',
 '20319',
 '20373',
 '20390',
 '20745']

In [20]:
name=[]
lat=[]
long=[]

In [28]:
for i in zip_list:
    target_url=(f"https://maps.googleapis.com/maps/api/geocode/json?address={i}&key={geocode_key}")
    geodata=requests.get(target_url).json()
    zip_name=geodata['results'][0]['address_components'][0]['short_name']
    name.append(zip_name)
    
    latitude=geodata['results'][0]['geometry']['location']['lat']
    lat.append(latitude)
    
    longitude=geodata['results'][0]['geometry']['location']['lng']
    long.append( longitude)

In [31]:
lat

[38.912068,
 38.9052763,
 38.8831372,
 38.8951382,
 38.908229,
 38.897244,
 38.9156487,
 38.9451658,
 38.9191485,
 38.9339046,
 38.9502497,
 38.9836326,
 38.9656971,
 38.9374808,
 38.9396261,
 38.9274061,
 38.8910932,
 38.8628755,
 38.8761083,
 38.8372336,
 38.9080786,
 38.9042365,
 38.8993373,
 38.9078098,
 38.9369141,
 38.8868207,
 38.8914591,
 38.92,
 38.8669531,
 38.858595,
 38.880052,
 38.80378049999999,
 38.912068,
 38.9052763,
 38.8831372,
 38.8951382,
 38.908229,
 38.897244,
 38.9156487,
 38.9451658,
 38.9191485,
 38.9339046,
 38.9502497,
 38.9836326,
 38.9656971,
 38.9374808,
 38.9396261,
 38.9274061,
 38.8910932,
 38.8628755,
 38.8761083,
 38.8372336,
 38.9080786,
 38.9042365,
 38.8993373,
 38.9078098,
 38.9369141,
 38.8868207,
 38.8914591,
 38.92,
 38.8669531,
 38.858595,
 38.880052,
 38.80378049999999,
 38.8868207,
 38.8914591,
 38.92,
 38.8669531,
 38.858595,
 38.880052,
 38.80378049999999,
 38.912068,
 38.9052763,
 38.8831372,
 38.8951382,
 38.908229,
 38.897244,
 38.9156487,
 38.9451658,
 38.9191485,
 38.9339046,
 38.9502497,
 38.9836326,
 38.9656971,
 38.9374808,
 38.9396261,
 38.9274061,
 38.8910932,
 38.8628755,
 38.8761083,
 38.8372336,
 38.9080786,
 38.9042365,
 38.8993373,
 38.9078098,
 38.9369141,
 38.912068,
 38.9052763,
 38.8831372,
 38.8951382,
 38.908229,
 38.897244,
 38.9156487,
 38.9451658,
 38.9191485,
 38.9339046,
 38.9502497,
 38.9836326,
 38.9656971,
 38.9374808,
 38.9396261,
 38.9274061,
 38.8910932,
 38.8628755,
 38.8761083,
 38.8372336,
 38.9080786,
 38.9042365,
 38.8993373,
 38.9078098,
 38.9369141,
 38.8868207,
 38.8914591,
 38.92,
 38.8669531,
 38.858595,
 38.880052,
 38.80378049999999,
 38.912068,
 38.9052763,
 38.8831372,
 38.8951382,
 38.908229,
 38.897244,
 38.9156487,
 38.9451658,
 38.9191485,
 38.9339046,
 38.9502497,
 38.9836326,
 38.9656971,
 38.9374808,
 38.9396261,
 38.9274061,
 38.8910932,
 38.8628755,
 38.8761083,
 38.8372336,
 38.9080786,
 38.9042365,
 38.8993373,
 38.9078098,
 38.9369141,
 38.8868207,
 38.8914591,
 38.92,
 38.8669531,
 38.858595,
 38.880052,
 38.80378049999999]

In [29]:
print(len(name))
print(len(lat))
print(len(long))

160
160
160

In [33]:
census_df['Latitude']=lat
census_df['Longitude']=long
census_df.head(5)

<ipython-input-33-91abdb0bbac5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  census_df['Latitude']=lat
<ipython-input-33-91abdb0bbac5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  census_df['Longitude']=long

,Name,Household Income,Population,Median Age,Per Capita Income,Poverty Count,Unemployment Count,Number of Hispanic Residents,Number of African American Residents,Number of Asian Residents,Number of Residents w/Bachelor's Degree,Number of Residents w/Graduate Degree,Zipcode,Year,Latitude,Longitude
5720,ZCTA5 20001,83035.0,41345.0,30.7,44841.0,6493.0,2247.0,4350.0,19689.0,3180.0,8229.0,8428.0,20001,2014,38.912068,-77.019023
5721,ZCTA5 20002,68924.0,56646.0,34.3,41103.0,10638.0,4271.0,3025.0,31025.0,1618.0,10170.0,10849.0,20002,2014,38.905276,-76.981588
5722,ZCTA5 20003,110620.0,28202.0,34.8,59837.0,3154.0,1109.0,1247.0,9602.0,667.0,6014.0,8741.0,20003,2014,38.883137,-76.990228
5723,ZCTA5 20004,132083.0,1667.0,40.3,125536.0,65.0,62.0,83.0,57.0,220.0,453.0,1014.0,20004,2014,38.895138,-77.022622
5724,ZCTA5 20005,81736.0,12497.0,33.6,73874.0,1603.0,470.0,2334.0,1808.0,924.0,3121.0,4793.0,20005,2014,38.908229,-77.030539

In [35]:
census_df.to_csv('census_csv/census_2014to2018.csv')

# Testing 2011 to 2013 data

In [36]:
#Import Dependencies
import numpy as np
import pandas as pd
import json
import requests
from census import Census
from us import states

In [37]:
d=Census(census_api,year=2011)

In [38]:
d

In [ ]:
#census_data_2011 = d.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
#                          "B19301_001E",
#                          "B17001_002E", "B23025_005E", "B03001_003E","B02001_003E",
#                          "B02001_005E","B06009_005E","B06009_006E"), {'for': 'zip code tabulation area:*'})