### Census API Requests
#### Authored By Clementine Sraha,  e-mail: clemiyarjah@gmail.com

In [1]:
#! pip install census

In [2]:
#!pip install us

In [3]:
#Import Dependencies
import numpy as np
import pandas as pd
import json
import requests
from census import Census
from us import states

In [4]:
#Census API key
from config import census_api

c=Census(census_api,year=2010)
d=Census(census_api,year=2011)
e=Census(census_api,year=2012)
f=Census(census_api,year=2013)
g=Census(census_api,year=2014)
h=Census(census_api,year=2015)
i=Census(census_api,year=2016)
j=Census(census_api,year=2017)
k=Census(census_api,year=2018)

In [6]:
census_data_2010 = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E", "B23025_005E", "B03001_003E","B02001_003E",
                          "B02001_005E","B06009_005E","B06009_006E"), {'for': 'zip code tabulation area:*'})

census_data_2011 = d.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E", "B23025_005E", "B03001_003E","B02001_003E",
                          "B02001_005E","B06009_005E","B06009_006E"), {'for': 'zip code tabulation area:*'})

In [7]:
census_data_2012 = e.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E", "B23025_005E", "B03001_003E","B02001_003E",
                          "B02001_005E","B06009_005E","B06009_006E"), {'for': 'zip code tabulation area:*'})
census_data_2013 = f.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E", "B23025_005E", "B03001_003E","B02001_003E",
                          "B02001_005E","B06009_005E","B06009_006E"), {'for': 'zip code tabulation area:*'})

In [8]:
census_data_2014 = g.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E", "B23025_005E", "B03001_003E","B02001_003E",
                          "B02001_005E","B06009_005E","B06009_006E"), {'for': 'zip code tabulation area:*'})
census_data_2015 = h.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E", "B23025_005E", "B03001_003E","B02001_003E",
                          "B02001_005E","B06009_005E","B06009_006E"), {'for': 'zip code tabulation area:*'})

In [9]:
census_data_2016 = i.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E", "B23025_005E", "B03001_003E","B02001_003E",
                          "B02001_005E","B06009_005E","B06009_006E"), {'for': 'zip code tabulation area:*'})

census_data_2017 = j.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E", "B23025_005E", "B03001_003E","B02001_003E",
                          "B02001_005E","B06009_005E","B06009_006E"), {'for': 'zip code tabulation area:*'})

In [ ]:
census_data_2018 = k.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E", "B23025_005E", "B03001_003E","B02001_003E",
                          "B02001_005E","B06009_005E","B06009_006E"), {'for': 'zip code tabulation area:*'})

## Convert to DataFrame

In [11]:
census_2010 = pd.DataFrame(census_data_2010)
census_2011 = pd.DataFrame(census_data_2011)
census_2012 = pd.DataFrame(census_data_2012)
census_2013 = pd.DataFrame(census_data_2013)
census_2014 = pd.DataFrame(census_data_2014)
census_2015 = pd.DataFrame(census_data_2015)
census_2016 = pd.DataFrame(census_data_2016)
census_2017 = pd.DataFrame(census_data_2017)
census_2018 = pd.DataFrame(census_data_2018)

In [12]:
census_2010["Year"]="2010"
census_2011["Year"]="2011"
census_2012["Year"]="2012"
census_2013["Year"]="2013"
census_2014["Year"]="2014"
census_2015["Year"]="2015"
census_2016["Year"]="2016"
census_2017["Year"]="2017"
census_2018["Year"]="2018"

In [14]:
## Append Data Frames

In [15]:
a1=census_2010.append(census_2011)
a2=a1.append(census_2012)
a3=a2.append(census_2013)
a4=a3.append(census_2014)
a5=a4.append(census_2015)
a6=a5.append(census_2016)
a7=a6.append(census_2017)
a8=a7.append(census_2018)

In [16]:
a8

,NAME,B19013_001E,B01003_001E,B01002_001E,B19301_001E,B17001_002E,B23025_005E,B03001_003E,B02001_003E,B02001_005E,B06009_005E,B06009_006E,zip code tabulation area,Year
0,ZCTA5 12810,57500.0,724.0,46.5,25551.0,78.0,20.0,14.0,0.0,2.0,28.0,19.0,12810,2015
1,ZCTA5 12811,-666666666.0,67.0,45.9,11590.0,0.0,20.0,0.0,0.0,0.0,0.0,0.0,12811,2015
2,ZCTA5 12812,49583.0,58.0,64.1,23600.0,0.0,0.0,0.0,0.0,0.0,10.0,2.0,12812,2015
3,ZCTA5 12814,58176.0,1282.0,46.4,35508.0,51.0,12.0,32.0,36.0,14.0,305.0,113.0,12814,2015
4,ZCTA5 12815,60458.0,1103.0,54.2,30685.0,159.0,29.0,6.0,15.0,0.0,116.0,113.0,12815,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33115,ZCTA5 87515,NaN,363.0,44.2,NaN,NaN,NaN,363.0,0.0,0.0,0.0,0.0,87515,2018
33116,ZCTA5 87518,NaN,9.0,-666666666.0,NaN,NaN,NaN,9.0,0.0,0.0,0.0,0.0,87518,2018
33117,ZCTA5 87511,NaN,2896.0,36.0,NaN,NaN,NaN,2532.0,37.0,0.0,112.0,110.0,87511,2018
33118,ZCTA5 87578,NaN,245.0,48.0,NaN,NaN,NaN,202.0,0.0,1.0,25.0,19.0,87578,2018
33119,ZCTA5 87532,NaN,18756.0,39.3,NaN,NaN,NaN,14465.0,120.0,167.0,1587.0,886.0,87532,2018

In [17]:
# Column Reordering
census_df = a8.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "B23025_005E": "Unemployment Count",
                                      "B03001_003E": "Number of Hispanic Residents",
                                      "B02001_003E": "Number of African American Residents",
                                      "B02001_005E": "Number of Asian Residents",
                                      "B06009_005E": "Number of Residents w/Bachelor's Degree",
                                      "B06009_006E": "Number of Residents w/Graduate Degree",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"})

In [18]:
census_df

,Name,Household Income,Population,Median Age,Per Capita Income,Poverty Count,Unemployment Count,Number of Hispanic Residents,Number of African American Residents,Number of Asian Residents,Number of Residents w/Bachelor's Degree,Number of Residents w/Graduate Degree,Zipcode,Year
0,ZCTA5 12810,57500.0,724.0,46.5,25551.0,78.0,20.0,14.0,0.0,2.0,28.0,19.0,12810,2015
1,ZCTA5 12811,-666666666.0,67.0,45.9,11590.0,0.0,20.0,0.0,0.0,0.0,0.0,0.0,12811,2015
2,ZCTA5 12812,49583.0,58.0,64.1,23600.0,0.0,0.0,0.0,0.0,0.0,10.0,2.0,12812,2015
3,ZCTA5 12814,58176.0,1282.0,46.4,35508.0,51.0,12.0,32.0,36.0,14.0,305.0,113.0,12814,2015
4,ZCTA5 12815,60458.0,1103.0,54.2,30685.0,159.0,29.0,6.0,15.0,0.0,116.0,113.0,12815,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33115,ZCTA5 87515,NaN,363.0,44.2,NaN,NaN,NaN,363.0,0.0,0.0,0.0,0.0,87515,2018
33116,ZCTA5 87518,NaN,9.0,-666666666.0,NaN,NaN,NaN,9.0,0.0,0.0,0.0,0.0,87518,2018
33117,ZCTA5 87511,NaN,2896.0,36.0,NaN,NaN,NaN,2532.0,37.0,0.0,112.0,110.0,87511,2018
33118,ZCTA5 87578,NaN,245.0,48.0,NaN,NaN,NaN,202.0,0.0,1.0,25.0,19.0,87578,2018
33119,ZCTA5 87532,NaN,18756.0,39.3,NaN,NaN,NaN,14465.0,120.0,167.0,1587.0,886.0,87532,2018

# DC zipcodes

In [19]:
census_df = census_df.loc[(census_df['Zipcode'] == "20007")|(census_df['Zipcode'] == "20016")|
                         (census_df['Zipcode'] == "20008")| (census_df['Zipcode'] == "20009")| (census_df['Zipcode'] == "20010")
                         |(census_df['Zipcode'] == "20011")| (census_df['Zipcode'] == "20012")| (census_df['Zipcode'] == "20013")
                         |(census_df['Zipcode'] == "20390")| (census_df['Zipcode'] == "20015")| (census_df['Zipcode'] == "20373")
                         | (census_df['Zipcode'] == "20319")| (census_df['Zipcode'] == "20317")| (census_df['Zipcode'] == "20064")
                         | (census_df['Zipcode'] == "20057")| (census_df['Zipcode'] == "20052")| (census_df['Zipcode'] == "20037")
                         | (census_df['Zipcode'] == "20036")| (census_df['Zipcode'] == "20032")| (census_df['Zipcode'] == "20024")
                         | (census_df['Zipcode'] == "20020")| (census_df['Zipcode'] == "20019")| (census_df['Zipcode'] == "20018")
                         | (census_df['Zipcode'] == "20017")| (census_df['Zipcode'] == "20001")| (census_df['Zipcode'] == "20002")
                         | (census_df['Zipcode'] == "20003")| (census_df['Zipcode'] == "20004")| (census_df['Zipcode'] == "20005")
                         | (census_df['Zipcode'] == "20006")| (census_df['Zipcode'] == "20204")| (census_df['Zipcode'] == "20230")
                         | (census_df['Zipcode'] == "20250")| (census_df['Zipcode'] == "20310")| (census_df['Zipcode'] == "20745")]

In [20]:
census_df

,Name,Household Income,Population,Median Age,Per Capita Income,Poverty Count,Unemployment Count,Number of Hispanic Residents,Number of African American Residents,Number of Asian Residents,Number of Residents w/Bachelor's Degree,Number of Residents w/Graduate Degree,Zipcode,Year
11532,ZCTA5 20001,85976.0,43731.0,30.6,47025.0,6476.0,1918.0,4204.0,20591.0,3093.0,8889.0,9638.0,20001,2015
11533,ZCTA5 20002,74303.0,57412.0,34.0,44684.0,9914.0,3647.0,3336.0,30018.0,1735.0,11214.0,12130.0,20002,2015
11534,ZCTA5 20003,112083.0,28538.0,34.8,61472.0,2484.0,998.0,1361.0,9267.0,700.0,6125.0,9229.0,20003,2015
11535,ZCTA5 20004,135859.0,1667.0,41.0,117671.0,85.0,66.0,86.0,42.0,232.0,460.0,997.0,20004,2015
11536,ZCTA5 20005,87676.0,12947.0,33.8,74893.0,1453.0,340.0,2408.0,1724.0,901.0,3083.0,5005.0,20005,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6298,ZCTA5 20317,28077.0,406.0,86.0,28115.0,120.0,0.0,5.0,102.0,0.0,88.0,78.0,20317,2018
6299,ZCTA5 20319,-666666666.0,42.0,21.7,19436.0,0.0,0.0,3.0,6.0,13.0,13.0,0.0,20319,2018
6300,ZCTA5 20373,-666666666.0,144.0,21.9,23941.0,0.0,0.0,43.0,10.0,0.0,5.0,0.0,20373,2018
6301,ZCTA5 20390,-666666666.0,359.0,21.2,21819.0,0.0,0.0,62.0,40.0,0.0,13.0,0.0,20390,2018
6400,ZCTA5 20745,59100.0,28472.0,35.3,29765.0,3950.0,1526.0,5418.0,20402.0,1046.0,1967.0,1561.0,20745,2018

### Google Geocode API

In [ ]:
from config import geocode_key

#### State Data

In [ ]:
zip_series=census_df['Zipcode']
zip_list=zip_series.tolist()
#state_list

In [ ]:
name=[]
lat=[]
long=[]

In [ ]:
for i in zip_list:
    target_url=(f"https://maps.googleapis.com/maps/api/geocode/json?address={i}&key={geocode_key}")
    geodata=requests.get(target_url).json()
    state_name=geodata['results'][0]['address_components'][0]['long_name']
    name.append(state_name)
    
    latitude=geodata['results'][0]['geometry']['location']['lat']
    lat.append(latitude)
    
    longitude=geodata['results'][0]['geometry']['location']['lng']
    long.append( longitude)

In [ ]:
print(len(name))
print(len(lat))
print(len(long))

In [ ]:
census_df['Latitude']=pd.DataFrame(lat)
census_df['Longitude']=pd.DataFrame(long)
census_df.head(5)