In [1]:
import pandas as pd
import numpy as np

In [2]:
crime=pd.read_csv('../crime_csvs/Crime_Incidents_in_2016.csv')

In [3]:
crime.head(3)

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,...,BLOCK_GROUP,CENSUS_TRACT,VOTING_PRECINCT,LATITUDE,LONGITUDE,BID,START_DATE,END_DATE,OBJECTID,OCTO_RECORD_ID
0,-76.997328,38.885141,1020310,2016/02/09 13:46:39+00,DAY,OTHERS,THEFT/OTHER,600 - 669 BLOCK OF PENNSYLVANIA AVENUE SE,400232.0,135255.0,...,006500 1,6500.0,Precinct 89,38.885133,-76.997326,CAPITOL HILL,2016/01/19 17:00:03+00,2016/01/28 10:00:10+00,488579370,01020310-01
1,-76.969243,38.851752,6021842,2016/02/12 13:31:08+00,DAY,OTHERS,THEFT/OTHER,2600 - 2799 BLOCK OF JASPER STREET SE,402670.0,131549.0,...,007408 1,7408.0,Precinct 115,38.851744,-76.969241,NaN,2016/02/06 18:30:37+00,2016/02/06 18:40:51+00,488579377,06021842-01
2,-77.065954,38.948361,6080644,2016/05/20 19:04:31+00,EVENING,OTHERS,THEFT/OTHER,4500 - 4529 BLOCK OF CONNECTICUT AVENUE NW,394283.0,142275.0,...,001200 2,1200.0,Precinct 33,38.948353,-77.065951,NaN,2016/05/11 11:00:13+00,2016/05/16 10:00:24+00,488579378,06080644-01

In [4]:
c_df=crime[['REPORT_DAT','OFFENSE']]
c_df.head(3)

               REPORT_DAT      OFFENSE
0  2016/02/09 13:46:39+00  THEFT/OTHER
1  2016/02/12 13:31:08+00  THEFT/OTHER
2  2016/05/20 19:04:31+00  THEFT/OTHER

In [5]:
s = pd.Series(c_df['REPORT_DAT'])

In [6]:
c_df['hour']=s.str[11:13]

<ipython-input-6-505e8d79a12a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  c_df['hour']=s.str[11:13]

In [7]:
c_df['count']=1
c_df1=c_df[['OFFENSE','hour','count']]

<ipython-input-7-08c14da421d9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  c_df['count']=1

In [8]:
grouped_c=c_df1.groupby(['OFFENSE','hour']).count()
grouped_c

                                 count
OFFENSE                    hour
ARSON                      10        1
                           14        3
                           18        1
                           19        1
ASSAULT W/DANGEROUS WEAPON 00      123
...                                ...
THEFT/OTHER                19     1026
                           20      963
                           21     1011
                           22      620
                           23      390

[173 rows x 1 columns]

In [9]:
grouped_offenses=grouped_c.reset_index()

# Filter out crimes

### ARSON

In [10]:
arson=grouped_offenses.loc[grouped_offenses["OFFENSE"]=="ARSON",:]

In [11]:
arson.sort_values("hour")

  OFFENSE hour  count
0   ARSON   10      1
1   ARSON   14      3
2   ARSON   18      1
3   ARSON   19      1

In [12]:
arson2 = pd.DataFrame([['ARSON','00', 0],['ARSON','01', 0],['ARSON','02', 0],['ARSON','03', 0],['ARSON','04', 0],
                       ['ARSON','05', 0],['ARSON','06', 0],['ARSON','07', 0],['ARSON','08', 0],['ARSON','09', 0],
                       ['ARSON','11', 0],['ARSON','12', 0],['ARSON','13', 0],['ARSON','15', 0],['ARSON','16', 0],
                       ['ARSON','17', 0],['ARSON','20', 0],['ARSON','21', 0],['ARSON','22', 0],['ARSON','23', 0]
                      ],
                   columns=list('ABC'))

In [13]:
arson2_renamed=arson2.rename(columns={"A":"OFFENSE","B":"hour","C":"count"})

In [14]:
arson_data=arson.append(arson2_renamed)
#arson_data.sort_values("hour")

In [15]:
old=[
    (arson_data['hour']=='00'),(arson_data['hour']=='01'),(arson_data['hour']=='02'),(arson_data['hour']=='03'),
    (arson_data['hour']=='04'),(arson_data['hour']=='05'),(arson_data['hour']=='06'),(arson_data['hour']=='07'),
    (arson_data['hour']=='08'),(arson_data['hour']=='09'),(arson_data['hour']=='10'),(arson_data['hour']=='11'),
    (arson_data['hour']=='12'),(arson_data['hour']=='13'),(arson_data['hour']=='14'),(arson_data['hour']=='15'),
    (arson_data['hour']=='16'),(arson_data['hour']=='17'),(arson_data['hour']=='18'),(arson_data['hour']=='19'),
    (arson_data['hour']=='20'),(arson_data['hour']=='21'),(arson_data['hour']=='22'),(arson_data['hour']=='23')
]

new=['12AM','1AM','2AM','3AM','4AM','5AM','6AM','7AM','8AM','9AM','10AM','11AM','12PM',
         '1PM','2PM','3PM','4PM','5PM','6PM','7PM','8PM','9PM','10PM','11PM'
]

arson_data['TIME']=np.select(old,new,default='null')

In [16]:
#arson_data.sort_values("hour")

### ASSAULT W/DANGEROUS WEAPON

In [17]:
assault_weapon_data=grouped_offenses.loc[grouped_offenses["OFFENSE"]=="ASSAULT W/DANGEROUS WEAPON",:]

In [18]:
#assault_weapon_data.sort_values("hour")

In [19]:
old2=[
    (assault_weapon_data['hour']=='00'),(assault_weapon_data['hour']=='01'),(assault_weapon_data['hour']=='02'),
    (assault_weapon_data['hour']=='03'),(assault_weapon_data['hour']=='04'),(assault_weapon_data['hour']=='05'),
    (assault_weapon_data['hour']=='06'),(assault_weapon_data['hour']=='07'),(assault_weapon_data['hour']=='08'),
    (assault_weapon_data['hour']=='09'),(assault_weapon_data['hour']=='10'),(assault_weapon_data['hour']=='11'),
    (assault_weapon_data['hour']=='12'),(assault_weapon_data['hour']=='13'),(assault_weapon_data['hour']=='14'),
    (assault_weapon_data['hour']=='15'),(assault_weapon_data['hour']=='16'),(assault_weapon_data['hour']=='17'),
    (assault_weapon_data['hour']=='18'),(assault_weapon_data['hour']=='19'),(assault_weapon_data['hour']=='20'),
    (assault_weapon_data['hour']=='21'),(assault_weapon_data['hour']=='22'),(assault_weapon_data['hour']=='23')
]

new2=['12AM','1AM','2AM','3AM','4AM','5AM','6AM','7AM','8AM','9AM','10AM','11AM','12PM',
         '1PM','2PM','3PM','4PM','5PM','6PM','7PM','8PM','9PM','10PM','11PM'
]

assault_weapon_data['TIME']=np.select(old2,new2,default='null')

<ipython-input-19-37b0d101ff52>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  assault_weapon_data['TIME']=np.select(old2,new2,default='null')

In [20]:
#assault_weapon_data.sort_values("hour")

### Burglary

In [21]:
burglary_data=grouped_offenses.loc[grouped_offenses["OFFENSE"]=="BURGLARY",:]

In [22]:
#burglary_data.sort_values("hour")

In [23]:
old3=[
    (burglary_data['hour']=='00'),(burglary_data['hour']=='01'),(burglary_data['hour']=='02'),
    (burglary_data['hour']=='03'),(burglary_data['hour']=='04'),(burglary_data['hour']=='05'),
    (burglary_data['hour']=='06'),(burglary_data['hour']=='07'),(burglary_data['hour']=='08'),
    (burglary_data['hour']=='09'),(burglary_data['hour']=='10'),(burglary_data['hour']=='11'),
    (burglary_data['hour']=='12'),(burglary_data['hour']=='13'),(burglary_data['hour']=='14'),
    (burglary_data['hour']=='15'),(burglary_data['hour']=='16'),(burglary_data['hour']=='17'),
    (burglary_data['hour']=='18'),(burglary_data['hour']=='19'),(burglary_data['hour']=='20'),
    (burglary_data['hour']=='21'),(burglary_data['hour']=='22'),(burglary_data['hour']=='23')
]

new3=['12AM','1AM','2AM','3AM','4AM','5AM','6AM','7AM','8AM','9AM','10AM','11AM','12PM',
         '1PM','2PM','3PM','4PM','5PM','6PM','7PM','8PM','9PM','10PM','11PM'
]

burglary_data['TIME']=np.select(old3,new3,default='null')

<ipython-input-23-12c87534d28b>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  burglary_data['TIME']=np.select(old3,new3,default='null')

In [24]:
#burglary_data.sort_values("hour")

### HOMICIDE

In [25]:
homicide=grouped_offenses.loc[grouped_offenses["OFFENSE"]=="HOMICIDE",:]

In [26]:
homicide.sort_values("hour")

     OFFENSE hour  count
52  HOMICIDE   00    136

In [27]:
homicide2 = pd.DataFrame([['HOMICIDE','01', 0],['HOMICIDE','02', 0],['HOMICIDE','03', 0],['HOMICIDE','04', 0],
                          ['HOMICIDE','05', 0],['HOMICIDE','06', 0],['HOMICIDE','07', 0],['HOMICIDE','08', 0],
                          ['HOMICIDE','09', 0],['HOMICIDE','10', 0],['HOMICIDE','11', 0],['HOMICIDE','12', 0],
                          ['HOMICIDE','13', 0],['HOMICIDE','14', 0],['HOMICIDE','15', 0],['HOMICIDE','16', 0],
                          ['HOMICIDE','17', 0],['HOMICIDE','18', 0],['HOMICIDE','19', 0],['HOMICIDE','20', 0],
                          ['HOMICIDE','21', 0],['HOMICIDE','22', 0],['HOMICIDE','23', 0]       
                   ],
                   columns=list('ABC'))

In [28]:
homicide2_renamed=homicide2.rename(columns={"A":"OFFENSE","B":"hour","C":"count"})

In [29]:
homicide_data=homicide.append(homicide2_renamed)
#homicide_data.sort_values("hour")

In [30]:
old4=[
    (homicide_data['hour']=='00'),(homicide_data['hour']=='01'),(homicide_data['hour']=='02'),
    (homicide_data['hour']=='03'),(homicide_data['hour']=='04'),(homicide_data['hour']=='05'),
    (homicide_data['hour']=='06'),(homicide_data['hour']=='07'),(homicide_data['hour']=='08'),
    (homicide_data['hour']=='09'),(homicide_data['hour']=='10'),(homicide_data['hour']=='11'),
    (homicide_data['hour']=='12'),(homicide_data['hour']=='13'),(homicide_data['hour']=='14'),
    (homicide_data['hour']=='15'),(homicide_data['hour']=='16'),(homicide_data['hour']=='17'),
    (homicide_data['hour']=='18'),(homicide_data['hour']=='19'),(homicide_data['hour']=='20'),
    (homicide_data['hour']=='21'),(homicide_data['hour']=='22'),(homicide_data['hour']=='23')
]

new4=['12AM','1AM','2AM','3AM','4AM','5AM','6AM','7AM','8AM','9AM','10AM','11AM','12PM',
         '1PM','2PM','3PM','4PM','5PM','6PM','7PM','8PM','9PM','10PM','11PM'
]

homicide_data['TIME']=np.select(old4,new4,default='null')

In [31]:
#homicide_data.sort_values("hour")

### Motor vehicle theft

In [32]:
mv_theft_data=grouped_offenses.loc[grouped_offenses["OFFENSE"]=="MOTOR VEHICLE THEFT",:]

In [33]:
#mv_theft_data.sort_values("hour")

In [34]:
old5=[
    (mv_theft_data['hour']=='00'),(mv_theft_data['hour']=='01'),(mv_theft_data['hour']=='02'),
    (mv_theft_data['hour']=='03'),(mv_theft_data['hour']=='04'),(mv_theft_data['hour']=='05'),
    (mv_theft_data['hour']=='06'),(mv_theft_data['hour']=='07'),(mv_theft_data['hour']=='08'),
    (mv_theft_data['hour']=='09'),(mv_theft_data['hour']=='10'),(mv_theft_data['hour']=='11'),
    (mv_theft_data['hour']=='12'),(mv_theft_data['hour']=='13'),(mv_theft_data['hour']=='14'),
    (mv_theft_data['hour']=='15'),(mv_theft_data['hour']=='16'),(mv_theft_data['hour']=='17'),
    (mv_theft_data['hour']=='18'),(mv_theft_data['hour']=='19'),(mv_theft_data['hour']=='20'),
    (mv_theft_data['hour']=='21'),(mv_theft_data['hour']=='22'),(mv_theft_data['hour']=='23')
]

new5=['12AM','1AM','2AM','3AM','4AM','5AM','6AM','7AM','8AM','9AM','10AM','11AM','12PM',
         '1PM','2PM','3PM','4PM','5PM','6PM','7PM','8PM','9PM','10PM','11PM'
]

mv_theft_data['TIME']=np.select(old5,new5,default='null')

<ipython-input-34-785de4118364>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mv_theft_data['TIME']=np.select(old5,new5,default='null')

In [35]:
#mv_theft_data.sort_values("hour")

### Robbery

In [36]:
robbery_data=grouped_offenses.loc[grouped_offenses["OFFENSE"]=="ROBBERY",:]

In [37]:
#robbery_data.sort_values("hour")

In [38]:
old6=[
    (robbery_data['hour']=='00'),(robbery_data['hour']=='01'),(robbery_data['hour']=='02'),
    (robbery_data['hour']=='03'),(robbery_data['hour']=='04'),(robbery_data['hour']=='05'),
    (robbery_data['hour']=='06'),(robbery_data['hour']=='07'),(robbery_data['hour']=='08'),
    (robbery_data['hour']=='09'),(robbery_data['hour']=='10'),(robbery_data['hour']=='11'),
    (robbery_data['hour']=='12'),(robbery_data['hour']=='13'),(robbery_data['hour']=='14'),
    (robbery_data['hour']=='15'),(robbery_data['hour']=='16'),(robbery_data['hour']=='17'),
    (robbery_data['hour']=='18'),(robbery_data['hour']=='19'),(robbery_data['hour']=='20'),
    (robbery_data['hour']=='21'),(robbery_data['hour']=='22'),(robbery_data['hour']=='23')
]

new6=['12AM','1AM','2AM','3AM','4AM','5AM','6AM','7AM','8AM','9AM','10AM','11AM','12PM',
         '1PM','2PM','3PM','4PM','5PM','6PM','7PM','8PM','9PM','10PM','11PM'
]

robbery_data['TIME']=np.select(old6,new6,default='null')

<ipython-input-38-3f71fd4ed2c5>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  robbery_data['TIME']=np.select(old6,new6,default='null')

In [39]:
#robbery_data.sort_values("hour")

### SEX ABUSE

In [40]:
sex_abuse_data=grouped_offenses.loc[grouped_offenses["OFFENSE"]=="SEX ABUSE",:]

In [41]:
#sex_abuse_data.sort_values("hour")

In [42]:
old7=[
    (sex_abuse_data['hour']=='00'),(sex_abuse_data['hour']=='01'),(sex_abuse_data['hour']=='02'),
    (sex_abuse_data['hour']=='03'),(sex_abuse_data['hour']=='04'),(sex_abuse_data['hour']=='05'),
    (sex_abuse_data['hour']=='06'),(sex_abuse_data['hour']=='07'),(sex_abuse_data['hour']=='08'),
    (sex_abuse_data['hour']=='09'),(sex_abuse_data['hour']=='10'),(sex_abuse_data['hour']=='11'),
    (sex_abuse_data['hour']=='12'),(sex_abuse_data['hour']=='13'),(sex_abuse_data['hour']=='14'),
    (sex_abuse_data['hour']=='15'),(sex_abuse_data['hour']=='16'),(sex_abuse_data['hour']=='17'),
    (sex_abuse_data['hour']=='18'),(sex_abuse_data['hour']=='19'),(sex_abuse_data['hour']=='20'),
    (sex_abuse_data['hour']=='21'),(sex_abuse_data['hour']=='22'),(sex_abuse_data['hour']=='23')
]

new7=['12AM','1AM','2AM','3AM','4AM','5AM','6AM','7AM','8AM','9AM','10AM','11AM','12PM',
         '1PM','2PM','3PM','4PM','5PM','6PM','7PM','8PM','9PM','10PM','11PM'
]

sex_abuse_data['TIME']=np.select(old7,new7,default='null')

<ipython-input-42-15fd3a8c652e>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sex_abuse_data['TIME']=np.select(old7,new7,default='null')

In [43]:
#sex_abuse_data.sort_values("hour")

###  Theft from auto

In [44]:
theft_frm_auto_data=grouped_offenses.loc[grouped_offenses["OFFENSE"]=="THEFT F/AUTO",:]

In [45]:
#theft_frm_auto_data.sort_values("hour")

In [46]:
old8=[
    (theft_frm_auto_data['hour']=='00'),(theft_frm_auto_data['hour']=='01'),(theft_frm_auto_data['hour']=='02'),
    (theft_frm_auto_data['hour']=='03'),(theft_frm_auto_data['hour']=='04'),(theft_frm_auto_data['hour']=='05'),
    (theft_frm_auto_data['hour']=='06'),(theft_frm_auto_data['hour']=='07'),(theft_frm_auto_data['hour']=='08'),
    (theft_frm_auto_data['hour']=='09'),(theft_frm_auto_data['hour']=='10'),(theft_frm_auto_data['hour']=='11'),
    (theft_frm_auto_data['hour']=='12'),(theft_frm_auto_data['hour']=='13'),(theft_frm_auto_data['hour']=='14'),
    (theft_frm_auto_data['hour']=='15'),(theft_frm_auto_data['hour']=='16'),(theft_frm_auto_data['hour']=='17'),
    (theft_frm_auto_data['hour']=='18'),(theft_frm_auto_data['hour']=='19'),(theft_frm_auto_data['hour']=='20'),
    (theft_frm_auto_data['hour']=='21'),(theft_frm_auto_data['hour']=='22'),(theft_frm_auto_data['hour']=='23')
]

new8=['12AM','1AM','2AM','3AM','4AM','5AM','6AM','7AM','8AM','9AM','10AM','11AM','12PM',
         '1PM','2PM','3PM','4PM','5PM','6PM','7PM','8PM','9PM','10PM','11PM'
]

theft_frm_auto_data['TIME']=np.select(old8,new8,default='null')

<ipython-input-46-6cd79eed9e73>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  theft_frm_auto_data['TIME']=np.select(old8,new8,default='null')

In [47]:
#theft_frm_auto_data.sort_values("hour")

### Theft other

In [48]:
theft_other_data=grouped_offenses.loc[grouped_offenses["OFFENSE"]=="THEFT/OTHER",:]

In [49]:
#theft_other_data.sort_values("hour")

In [50]:
old9=[
    (theft_other_data['hour']=='00'),(theft_other_data['hour']=='01'),(theft_other_data['hour']=='02'),
    (theft_other_data['hour']=='03'),(theft_other_data['hour']=='04'),(theft_other_data['hour']=='05'),
    (theft_other_data['hour']=='06'),(theft_other_data['hour']=='07'),(theft_other_data['hour']=='08'),
    (theft_other_data['hour']=='09'),(theft_other_data['hour']=='10'),(theft_other_data['hour']=='11'),
    (theft_other_data['hour']=='12'),(theft_other_data['hour']=='13'),(theft_other_data['hour']=='14'),
    (theft_other_data['hour']=='15'),(theft_other_data['hour']=='16'),(theft_other_data['hour']=='17'),
    (theft_other_data['hour']=='18'),(theft_other_data['hour']=='19'),(theft_other_data['hour']=='20'),
    (theft_other_data['hour']=='21'),(theft_other_data['hour']=='22'),(theft_other_data['hour']=='23')
]

new9=['12AM','1AM','2AM','3AM','4AM','5AM','6AM','7AM','8AM','9AM','10AM','11AM','12PM',
         '1PM','2PM','3PM','4PM','5PM','6PM','7PM','8PM','9PM','10PM','11PM'
]

theft_other_data['TIME']=np.select(old9,new9,default='null')

<ipython-input-50-1084c2c4f033>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  theft_other_data['TIME']=np.select(old9,new9,default='null')

In [51]:
#theft_other_data.sort_values("hour")

### Append dataframes

In [52]:
df1=arson_data.append(assault_weapon_data)
df2=df1.append(burglary_data)
df3=df2.append(homicide_data)
df4=df3.append(mv_theft_data)
df5=df4.append(robbery_data)
df6=df5.append(sex_abuse_data)
df7=df6.append(theft_frm_auto_data)
df8=df7.append(theft_other_data)

In [53]:
df8

         OFFENSE hour  count  TIME
0          ARSON   10      1  10AM
1          ARSON   14      3   2PM
2          ARSON   18      1   6PM
3          ARSON   19      1   7PM
0          ARSON   00      0  12AM
..           ...  ...    ...   ...
168  THEFT/OTHER   19   1026   7PM
169  THEFT/OTHER   20    963   8PM
170  THEFT/OTHER   21   1011   9PM
171  THEFT/OTHER   22    620  10PM
172  THEFT/OTHER   23    390  11PM

[216 rows x 4 columns]

In [54]:
import json

In [55]:
crime_2016 = df8.to_json(orient = 'records')
parsed = json.loads(crime_2016)

In [56]:
with open('../static/crime_json/crime_2016.json', 'w') as f:
    json.dump(parsed, f, indent=4)